<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="<%= path.join(toOutput, path.basename(config.css)) %>" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    <% if (config.sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <div class="large">Filename <input id="fileSearch" type="text" placeholder="Search" autocomplete="off"/></div>
          <div id="jump_wrapper">
          <div id="jump_page"></div>
          <div id="jump_page_hidden">
            <% for (var i=0, l=config.sources.length; i<l; i++) { %>
              <% var src = config.sources[i]; %>
              <% var name = config.basedir ? path.relative(config.basedir, src) : path.basename(src); %>
              <a class="source" data-name="<%= name %>" href="<%= path.join(toOutput, path.relative(output, destination(src))) %>">
                <%= name %>
              </a>
            <% } %>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%= title %></h1>
                  <% if (config.basedir) { %>
                    <div><%= path.relative(config.basedir, source) %></div>
                  <% } %>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)[^>]*>/) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
  <script src="<%= path.join(toOutput, 'public/javascripts/docco.js') %>"></script>
  <script>
    window.files = [];
    <% if (config.sources.length > 1) { %>
      <% for (var i=0, l=config.sources.length; i<l; i++) { %>
        <% var src = config.sources[i]; %>
        files.push('<%= config.basedir ? path.relative(config.basedir, src) : path.basename(src) %>');
      <% } %>
    <% } %>
  </script>
</body>
</html>
